@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FjallaOne";
  src: url("/api/public/fonts/FjallaOne-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("/statics/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/statics/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("/statics/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Inter-Regular;
  color: theme("colors.cookiz.text");
  height: 100dvh;
  @apply bg-gradient-to-bl to-60%  from-slate-800 to-black;
}

@media (prefers-color-scheme: dark) {
  body {
    color: theme("colors.cookiz.text");
    @apply bg-gradient-to-bl to-60%  from-slate-800 to-black;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: theme("colors.cookiz.text");
    @apply bg-gradient-to-bl to-60%  from-slate-800 to-black;
  }
}
