<template id="header">
  <header class="flex p-2 justify-between items-center">
    <div class="text-slate-500 cursor-pointer" _="on click secret 'kll'">_KLL</div>
    <nav class="self-end flex gap-2">
      <a _="on click navigate '/home' end">Home</a>
      <a _="on click navigate '/about' end">About</a>
      <a _="on click navigate '/contact' end">Contact</a>
    </nav>
    <button _="on click secret `sign` end"
      class="rounded-full border-white border px-3 py-1 transition-all duration-100 hover:bg-white hover:text-black ">
      Sign in
    </button>
  </header>
</template>