<template id="header">
  <header class="flex p-2 justify-between items-center">
    <div class="text-slate-500 cursor-pointer" _="on click secret 'kll'">_KLL</div>
    <nav class="self-end flex gap-2">
      <a _="on click navigate '/' end" data-trans="home">Home</a>
      <a data-trans="about" href="#">About</a>
      <a href="https://bouteiller.contact" target="_blank" data-trans="contact" rel="noopener">Contact</a>
      <br _="on load template `pricing-btn` end" />
    </nav>
    <button _="on click secret `sign` end" data-trans="sign_in"
      class="rounded-full border-white border px-3 py-1 transition-all duration-100 hover:bg-white hover:text-black ">

    </button>
  </header>
</template>